<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Scheduler</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <noscript>
      <style>
          .nojs { display: none; }
      </style>
    </noscript>
  </head>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Cal Scheduler</a>
        <% unless @current_user.nil? %>
          <div id="dropdown1" class="card container dropdown-content">
            <div class="info-card card-content black-text">
              <div class="info-content">
                <div class="img-container">
                  <img class="circle responsive-img" src=<%= @current_user.image %>>
                </div>
                <div class="personal-container">
                  <div><p class="my-name"><%= @current_user.name %></p></div>
                  <div><p class="my-email truncate"><%= @current_user.email %></p></div>
                </div>
              </div>
            </div>
            <div class="sign-out-container card-action content">
              <a href="/signout" class="signout-link z-depth-2">
                <i class="fa fa-sign-out"></i>
                Sign Out
              </a>
            </div>
          </div>
          <a href="#my-schedule" class="left info-button">
            <i class="fa fa-calendar-check-o fa-3x"></i>
          </a>
          <a class="dropdown-button info-button right hide-on-small-only" data-activates="dropdown1">
            <i class="fa fa-info-circle fa-3x"></i>
          </a>
          <a class="dropdown-button info-button right hide-on-med-and-up" data-activates="dropdown1">
            <i class="fa fa-info-circle fa-2x padding-top-15"></i>
          </a>
        <% end %>
      </div>
    </nav>
  </div>
  <div id="my-schedule" class="modal">
    <div class="modal-content black-text">
      <h4>My Schedule</h4>
      <p>BLEH LBLEH</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
