<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Scheduler</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <noscript>
      <style>
          .nojs { display: none; }
      </style>
    </noscript>
  </head>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <% unless @current_user.nil? %>
        <a href="/" class="brand-logo left">CalSync</a>
          <div id="dropdown1" class="card container dropdown-content">
            <div class="info-card card-content black-text">
              <div class="info-content">
                <div class="img-container">
                  <img class="circle responsive-img" src=<%= @current_user.image %>>
                </div>
                <div class="personal-container">
                  <div><p class="my-name"><%= @current_user.name %></p></div>
                  <div><p class="my-email truncate"><%= @current_user.email %></p></div>
                </div>
              </div>
            </div>
            <div class="sign-out-container card-action content">
              <a href="/signout" class="btn signout-button">
                <i class="fa fa-sign-out"></i>
                Sign Out
              </a>
              <a class="provide-feedback" target="_blank" href="https://goo.gl/forms/9JeSpnqXk4sZV1Io1">Provide Feedback</a>
            </div>
          </div>

          <ul class="right">
            <li class="">
              <a href="/course" class="hide-on-small-only"><i class="material-icons left">add</i>Add a Course</a>
              <a href="/course" class="hide-on-med-and-up"><i class="material-icons">add</i></a>
            </li>
            <li>
              <a href="#my-schedule" class="hide-on-med-and-up">
                <i class="material-icons">date_range</i>
              </a>
              <a href="#my-schedule" class="hide-on-small-only">
                <i class="material-icons left">date_range</i>
                My Schedule
              </a>
            </li>
            <li>
              <a class="dropdown-button" data-activates="dropdown1">
                <i class="material-icons">settings</i>
              </a>
            </li>
          </ul>
        <% else %>
        <a href="/" class="brand-logo center">CalSync</a>
        <% end %>
      </div>
    </nav>
  </div>
  <% unless @current_user.nil? %>
    <%= react_component('ScheduleModal', courses: @current_courses, current_user: @current_user.client_friendly_version) %>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
